/*
 * Layout
 */

html, body {
    margin: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.container {
    padding-top: 58px;
    height: 100%;
}

.container img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* row default */

.panel-grid-style-default {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1000px;
}

/* row fit */

.panel-grid-style-fit,
.panel-row-style-fit,
.panel-grid-style-fit-v,
.panel-row-style-fit-v {
    height: 100%;
}

/* row fit vertical */

.panel-grid-style-fit-v {
    display: table;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.panel-row-style-fit-v {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.panel-row-style-fit-v .panel-grid-cell {
    padding: 0;
}

.panel-grid-style-fit-v:before,
.panel-grid-style-fit-v:after {
    content: none !important;
}

/* row wide */

.panel-grid-style-wide,
.panel-grid-style-wide-v {
    height: auto;
    position: relative;
    padding-top: 56.25%;
    overflow-y: auto;
}

.panel-row-style-wide,
.panel-row-style-wide-v {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* row wide vertical */

.panel-row-style-wide-v .panel-grid-cell {
    display: table;
    width: 100%;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.panel-row-style-wide-v .panel {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.panel-row-style-wide-v .panel-grid-cell {
    padding: 0;
}